body {
    background-image: url("../../images/Banner_con_logo.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    filter: grayscale(100%);
}
