{% load static %}

{% block estilos %}<link rel="stylesheet" href="{% static 'CSS/partials/nav_style.css' %}">{% endblock %}

<div class="container">
    <div class="navbar">
        <div class="logo">
            <a href="{% url 'index' %}"><img src="{% static 'images/ECR_celeste.png' %}" alt="logo-ECR" class="logo"></a>
            <p>Eduard Nicolás Sarmiento Herrera</p>
        </div>
        <ul class="nav_group">
            <li><a href="{% url 'about-me_read' %}">About me</a></li>
            <li><a href="{% url 'work_read' %}">My experience</a></li>
            <li><a href="{% url 'education_read' %}">Studies</a></li>
            <li><a href="{% url 'portfolio_read' %}">Portfolio</a></li>
            <li><a href="{% url 'my-blog_read' %}">My blog</a></li>
        </ul>
    </div>
</div>